$zoom: 0.75;

.computer {
  width: 100%;
  aspect-ratio: 5 / 3;

  iframe {
    width: #{100% / $zoom};
    height: #{100% / $zoom};

    -ms-zoom: #{$zoom};
    -moz-transform: scale(#{$zoom});
    -moz-transform-origin: 0 0;
    -o-transform: scale(#{$zoom});
    -o-transform-origin: 0 0;
    -webkit-transform: scale(#{$zoom});
    -webkit-transform-origin: 0 0;
  }
}
