@import url("https://fontlibrary.org/face/bedstead");

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  margin: 0;
  padding: 0;

  &:has(.singleton) {
    overflow: hidden;
  }
}

body {
  overflow-y: auto;

  font-family: var(--font-sans), sans-serif;

  background-color: rgb(32, 34, 40);
  color: white;
}

::selection {
  background-color: #4c94fe;
  color: black;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}
