.computer {
  background-color: #749f65;
  background-image: repeating-linear-gradient(rgba(white, 0.05), rgba(white, 0.05) 4px, transparent 4px, transparent 8px);

  width: 100%;
  aspect-ratio: 5 / 3;

  animation: scanline 3000ms linear infinite;
}

.fakeField {
  display: flex;
  gap: 8px;
  padding: 16px 16px 0;

  :nth-child(6) {
    margin-right: 20px;
  }

  &.last {
    .error, .incorrect {
      animation: blink 250ms linear 2;
    }
  }

  .dot {
    width: 12px;
    height: 12px;
    background-color: #1d251c;

    &.error {
      background-color: transparent;
      border: solid 2px #1d251c;
    }
  }

  .incorrect {
    width: 12px;
    height: 12px;
    padding: 1px;

    color: #749f65;
    background-color: rgba(#1d251c, 0.8);

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .blank {
    margin-top: 12px;
    width: 12px;
    height: 3px;
    background-color: #1d251c;
  }
}

@keyframes scanline {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 8px;
  }
}

@keyframes blink {
  from {
    visibility: visible;
  }

  50%, to {
    visibility: hidden;
  }
}
