@import url("https://fontlibrary.org/face/bedstead");

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  font-family: var(--font-sans), sans-serif;

  background-color: rgb(32, 34, 40);
  background-image: linear-gradient(to left, rgba(32, 34, 40, 0.9), rgba(32, 34, 40, 0.9)), url("/background01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;

  color: white;

  &.gameCompleted {
    background-color: black;
    background-image: none;

    overflow: hidden;
    height: 100vh;

    #end {
      opacity: 1;
      visibility: visible;
    }
  }
}

#end {
  position: absolute;
  inset: 0;

  text-align: center;

  display: flex; // flex
  align-items: center;
  justify-content: center;

  transition: opacity 1ms 1000ms;
  opacity: 0;

  font-family: 'BedsteadRegular', monospace;

  padding: 6vw;
  visibility: hidden;
}

#gameControls {
  position: relative;
  z-index: 9999;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --bg-raised: #080a0f;
  --border: #292a2f;

  --primary: #4d94ff;
  --primary-fg: #7db1fe;
}

#gameControls {
  position: absolute;
  width: 100%;

  padding: 16px;
  display: none;

  svg {
    position: absolute;
  }

  button {
    height: 36px;
    padding: 0 16px;

    font-size: 14px;

    background-color: black;
    border: solid 1px #e71825;
    border-radius: 6px;
    color: white;

    cursor: pointer;

    &:hover {
      outline: solid 1px #e71825;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background-position: 20% center;
    background-image: linear-gradient(to bottom, transparent, rgb(32, 34, 40)), linear-gradient(to left, rgba(32, 34, 40, 0.9), rgba(32, 34, 40, 0.9)), url("/background01.jpg");
  }
}
