.page {
  position: relative;

  width: 100%;
  max-width: 800px;
  min-height: 100vh;

  padding: 48px;
  padding-bottom: calc(48px + 20px);

  margin: 0 auto;
}

.avatar {
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
}

.username {
  margin: 0;
  margin-top: 12px;
}

.guild {
  display: inline-block;

  font-size: 0.95em;
  font-family: monospace;

  padding: 0.2em 0.4em;
  transform: translateY(-4px);

  background-color: rgb(32, 34, 40);
  border-radius: 8px;
}

.staticName {
  margin: 0;
  margin-bottom: 12px;

  font-size: 20px;
  color: rgba(white, 0.64);
}

.tabRow {
  display: flex;
  gap: 8px;

  padding-bottom: 6px;
  border-bottom: solid 1px rgba(white, 0.3);

  button, a {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 36px;
    padding: 0 16px;
    margin-left: -16px;

    background-color: transparent;
    border-radius: 8px;
    border: none;

    font-size: 16px;
    font-weight: 500;

    color: rgba(white, 0.64);
    text-decoration: none;
    transition: color 135ms ease;

    &::after {
      content: '';
      position: absolute;

      left: 50%;
      right: 50%;
      bottom: -6px;

      height: 4px;
      border-radius: 4px 4px 0 0;

      background-color: rgba(white, 0.5);

      transition: 135ms ease;
      transition-property: background-color, left, right;
    }

    &:hover {
      color: white;

      &::after {
        left: calc(50% - 12px);
        right: calc(50% - 12px);
      }
    }

    &.active {
      color: #4d94ff;
      cursor: default;

      &::after {
        background-color: #4d94ff;

        left: 16px;
        right: 16px;
      }
    }
  }
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;

  > div {
    position: relative;
    overflow: hidden;

    border-radius: 6px;
    background-color: rgb(24, 28, 32);

    min-height: 72px;
    padding: 16px;

    &.large {
      grid-row: 1 / 3;
    }

    &.large2 {
      grid-row: 3 / 5;
      grid-column: 2 / 3;

      img {
        object-position: top center;
      }
    }

    &.large, &.large2 {
      img {
        object-fit: cover;
      }

      p {
        display: inline-block;
        padding: 0.3em 0.6em;
        transform: translate(-0.2em, -0.2em);

        background-color: rgba(24, 28, 32, 0.64);
        border-radius: 4px;
      }
    }

    &:not(.large):not(.large2) {
      display: flex;
      align-items: center;

      //&.superblur {
      //  &::after {
      //    width: 280px;
      //  }
      //
      //  .bgImage {
      //    //filter: blur(50px);
      //    left: 0;
      //  }
      //}
      //
      //&.tankblur {
      //  &::after {
      //    width: 320px;
      //  }
      //
      //  .bgImage {
      //    filter: contrast(5) blur(25px);
      //  }
      //}

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        right: initial;
        width: 224px;

        background-position: right center;
        background-size: 300%;

        z-index: 2;

        //background-image: linear-gradient(to right, rgba(24, 28, 32, 0.25), rgba(24, 28, 32, 0.5), rgb(24, 28, 32));
        background-image: linear-gradient(
                        to right,
                        rgba(24, 28, 32, 0) 0%,
                        rgba(24, 28, 32, 0.05) 20%,
                        rgba(24, 28, 32, 0.15) 40%,
                        rgba(24, 28, 32, 0.3) 60%,
                        rgba(24, 28, 32, 0.8) 80%,
                        rgb(24, 28, 32) 100%
        );
      }

      .bgImage {
        position: absolute;
        left: -64px;

        filter: blur(10px);
        //opacity: 0.64;
      }

      .thumbnail {
        position: relative;
        border-radius: 4px;
        z-index: 100;

        margin-right: 16px;
      }
    }

    p {
      position: relative;
      z-index: 9999;

      margin: 0;
    }
  }
}

.connectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;

  > :nth-child(2), > :nth-child(5) {
    justify-content: center;
  }

  > :nth-child(3) {
    justify-content: flex-end;
  }

  a {
    flex: 1 1 200px;

    display: flex;
    align-items: center;
    gap: 8px;

    color: rgb(white, 0.64);
    text-decoration: none;

    transition: 85ms ease color;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 32px;
      height: 32px;

      background-color: rgb(24, 28, 32);
      border-radius: 8px;
    }

    .external {
      transform: rotate(45deg);
    }

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.notice {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px;
  margin: 24px 0 0;

  border-radius: 12px;
  border: solid 1px rgba(white, 0.3);

  p {
    margin: 0;
  }

  &:has(div) {
    align-items: flex-start;
  }

  div {
    width: 100%;

    > div {
      height: 1px;
      width: 100%;
      background-color: rgba(white, 0.3);
      margin: 8px 0;
    }
  }

  a {
    color: #4d94ff;
    text-decoration: none;

    svg {
      vertical-align: middle;
      transform: translateY(-1px);
    }
  }
}

.copyright {
  position: absolute;
  bottom: 0;
  color: rgba(white, 0.64);

  :has(:global(.nocopy)) & {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 24px;
  }

  .itemGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > div {
      order: 1;
    }

    .large, .large2 {
      height: 200px;
    }

    .large {
      order: -1;
    }

    .large2 {
      order: 0;
    }
  }

  .connectionGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      flex: initial;
      justify-content: flex-start !important;
    }
  }
}
