.page {
  position: relative;

  width: 100%;
  max-width: 800px;
  min-height: 100vh;

  padding: 48px 48px 68px;

  margin: 0 auto;

  transition: 350ms ease-out;
  transition-property: transform, background-color;

  header {
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    inset: -200px -600px;
    z-index: -1;

    transition: 350ms ease-out;
    transition-property: transform, background-color;
  }

  :has(.clickMe.active) & {
    padding-bottom: 192px;
  }

  :global(.gameCompleted) & {
    transform: scale(0);

    &::after {
      background-color: white;
    }

    * {
      transition: opacity 350ms;
      opacity: 0;
    }
  }
}

.avatar {
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
}

.username {
  margin: 0;
  margin-top: 12px;
}

.guild {
  display: inline-block;

  font-size: 0.95em;
  font-family: monospace;

  padding: 0.2em 0.4em;
  transform: translateY(-4px);

  background-color: #181c20;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 8px;
}

.muted {
  font-size: 12px;
  color: rgba(white, 0.8);
}

.staticName {
  margin: 0;
  margin-bottom: 12px;

  font-size: 20px;
  color: rgba(white, 0.64);
}

.interestExpand {
  position: relative;

  summary {
    width: fit-content;
    margin: 16px auto;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 36px;
    min-width: 186px;
    padding: 0 24px;
    border-radius: 99px;

    border: solid 1px rgba(255, 255, 255, 0.3);

    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;

      height: 1px;
      width: calc((100% - 186px) / 2 - 48px);

      background-color: rgba(255, 255, 255, 0.3);

      display: none;
    }

    &::before {
      left: 48px;
    }

    &::after {
      right: 48px;
    }

    &:hover {
      background-color: rgba(white, 0.05);
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      content: '';
    }
  }

  summary span {
    display: none;
  }

  &:open {
    padding-bottom: 48px;
    padding-top: 8px;

    summary {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:open summary .opened {
    display: inline;
  }

  &:not(:open) summary .closed {
    display: inline;
  }

  //&:open summary {
  //  &::before, &::after {
  //    display: block;
  //  }
  //}
}

.tabRow {
  display: flex;
  gap: 8px;

  padding-bottom: 6px;
  border-bottom: solid 1px rgba(white, 0.3);

  button, a {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 36px;
    padding: 0 16px;
    margin-left: -16px;

    background-color: transparent;
    border-radius: 8px;
    border: none;

    font-size: 16px;
    font-weight: 500;

    color: rgba(white, 0.64);
    text-decoration: none;
    transition: color 135ms ease;

    &::after {
      content: '';
      position: absolute;

      left: 50%;
      right: 50%;
      bottom: -6px;

      height: 4px;
      border-radius: 4px 4px 0 0;

      background-color: rgba(white, 0.5);

      transition: 135ms ease;
      transition-property: background-color, left, right;
    }

    &:hover {
      color: white;

      &::after {
        left: calc(50% - 12px);
        right: calc(50% - 12px);
      }
    }

    &.active {
      color: var(--primary-fg);
      cursor: default;

      &::after {
        background-color: var(--primary-fg);

        left: 16px;
        right: 16px;
      }
    }
  }
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;

  > div {
    position: relative;
    overflow: hidden;

    border-radius: 6px;
    background-color: rgb(24, 28, 32);

    min-height: 72px;
    padding: 16px;

    &.large {
      grid-row: 1 / 3;
    }

    &.large2 {
      grid-row: 3 / 5;
      grid-column: 2 / 3;

      img {
        object-position: top center;
      }
    }

    &.large, &.large2 {
      img {
        object-fit: cover;
      }

      p {
        display: inline-block;
        padding: 0.3em 0.6em;
        transform: translate(-0.2em, -0.2em);

        backdrop-filter: blur(8px);
        background-color: rgba(24, 28, 32, 0.64);
        border-radius: 4px;
      }

      .muted {
        position: absolute;
        bottom: 4px;
        left: 8px;
      }
    }

    &:not(.large):not(.large2) {
      display: flex;
      align-items: center;

      //&.superblur {
      //  &::after {
      //    width: 280px;
      //  }
      //
      //  .bgImage {
      //    //filter: blur(50px);
      //    left: 0;
      //  }
      //}
      //
      //&.tankblur {
      //  &::after {
      //    width: 320px;
      //  }
      //
      //  .bgImage {
      //    filter: contrast(5) blur(25px);
      //  }
      //}

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        right: initial;
        width: 224px;

        background-position: right center;
        background-size: 300%;

        z-index: 2;

        //background-image: linear-gradient(to right, rgba(24, 28, 32, 0.25), rgba(24, 28, 32, 0.5), rgb(24, 28, 32));
        background-image: linear-gradient(
                        to right,
                        rgba(24, 28, 32, 0) 0%,
                        rgba(24, 28, 32, 0.05) 20%,
                        rgba(24, 28, 32, 0.15) 40%,
                        rgba(24, 28, 32, 0.3) 60%,
                        rgba(24, 28, 32, 0.8) 80%,
                        rgb(24, 28, 32) 100%
        );
      }

      .bgImage {
        position: absolute;
        left: -64px;

        filter: blur(10px);
        //opacity: 0.64;
      }

      .thumbnail {
        position: relative;
        border-radius: 4px;
        z-index: 100;

        margin-right: 16px;
      }
    }

    p {
      position: relative;
      z-index: 9999;

      margin: 0;
    }
  }
}

.connectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;

  > :nth-child(2), > :nth-child(5) {
    justify-content: center;
  }

  > :nth-child(3), > :nth-child(6) {
    justify-content: flex-end;
  }

  a {
    flex: 1 1 200px;

    display: flex;
    align-items: center;
    gap: 8px;

    color: rgb(white, 0.64);
    text-decoration: none;

    transition: 85ms ease color;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 32px;
      height: 32px;

      background-color: rgb(24, 28, 32);
      border-radius: 8px;
    }

    .external {
      transform: rotate(45deg);
    }

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.notice {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px;
  margin: 24px 0 0;

  border-radius: 12px;
  border: solid 1px rgba(white, 0.3);

  p {
    margin: 0;
  }

  &:has(div) {
    align-items: flex-start;
  }

  div {
    width: 100%;

    > div {
      height: 1px;
      width: 100%;
      background-color: rgba(white, 0.3);
      margin: 8px 0;
    }
  }

  a {
    color: var(--primary-fg);
    //background-color: color-mix(in srgb, transparent, var(--primary) 15%);
    text-decoration: none;

    padding: 0.25em 1em;
    margin: -0.25em -0.25em -0.25em 0;

    border-radius: 99px;

    svg {
      vertical-align: middle;
      transform: translateY(-1px);
    }

    &:hover {
      background-color: rgba(white, 0.075);
    }
  }
}

.copyright {
  position: absolute;
  bottom: 0;
  color: rgba(white, 0.64);

  :has(:global(.nocopy)) & {
    display: none;
  }
}

.thoughtBubble {
  position: absolute;
  left: 148px;
  top: calc((128px - 48px) / 1.5);

  padding: 10px 12px;
  width: fit-content;
  max-width: 400px;

  background-color: #181c20;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 8px;

  &::before, &::after {
    content: '';
    position: absolute;

    background-color: #181c20;
    border: 1px solid rgba(255, 255, 255, .2);
  }

  &::before {
    top: -20px;
    left: 0px;

    border-radius: 50%;

    aspect-ratio: 1;
    width: 10px;
  }

  &::after {
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom: none;

    aspect-ratio: 2;
    height: 10px;

    top: -11px;
    left: 12px;
  }
}

.header {
  height: 56px;
  display: none;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 1px rgba(white, 0.3);

  position: sticky;
  top: 0;
  z-index: 99990;

  transition: 135ms ease;
  transition-property: margin, padding, background-color, backdrop-filter;

  h1 {
    font-size: 18px;
    margin: 0;
  }

  button {
    //width: 36px;
    height: 36px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: solid 1px rgba(white, 0.3);
    background-color: transparent;
    border-radius: 99px;

    color: rgba(white, 0.64);

    transition: 135ms ease;
    transition-property: background-color, color, border-color;
  }

  &.isTop {
    background-color: rgba(white, 0.05);
    padding: 0 24px;
    margin: 0 -24px;
    backdrop-filter: blur(10px) brightness(50%);
  }

  &.special button {
    border-color: transparent;
    background-color: var(--primary);
    color: black;
  }
}

body.mobileMenuOpen .mainContent {
  display: none;
}

.clickMe {
  padding: 0;

  color: currentColor;
  font: inherit;

  background-color: transparent;
  border: solid 1px transparent;
  border-bottom: solid 1px rgba(white, 0.3);

  cursor: pointer;

  &.active {
    position: fixed;
    top: var(--y);
    left: var(--x);
    z-index: 100000;

    color: white;
    //border-color: #e71825;
    border-color: transparent;
    border-radius: 0.5em;

    background-color: #e71825;
    padding: 0.375em 0.625em;

    animation: clickMe 1000ms infinite linear, clickMeButtonBg 1000ms ease infinite;
    transition: 135ms ease;
    transition-property: top, left, --x, --y;

    font-size: 1.5vmin;
  }
}

.endClickMe {
  padding: 0;

  color: #7db1fe;
  font: inherit;

  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgba(#7db1fe, 0.5);

  cursor: pointer;

  &:hover {
    border-color: #7db1fe;
  }
}

body:has(.clickMe.active) {
  .connectionGrid, .interestExpand, .tabRow, .itemGrid, .avatar {
    position: relative;
    user-select: none;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 100;
    }
  }

  :global(#flash) {
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: #87141b;
    animation: clickMeBg 2000ms ease infinite;
  }

  * {
    user-select: none;
  }

  :global(#gameControls) {
    display: block !important;

    svg {
      animation: clickMeCursorProgress 90s ease-out forwards;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: #e71825;
    animation: clickMeProgress 90s linear forwards;
  }
}

@keyframes clickMe {
  from {
    box-shadow: 0 0 0 0 rgba(#e71825, 0.8);
  }

  to {
    box-shadow: 0 0 0 0.35em rgba(#e71825, 0);
  }
}

@keyframes clickMeButtonBg {
  50% {
    background-color: rgba(#e71825, 1);
  }

  from, to {
    background-color: rgba(#e71825, 0.8);
  }
}

@keyframes clickMeBg {
  50% {
    background-color: rgba(#87141b, 0.6);
  }

  from, to {
    background-color: rgba(#87141b, 0.2);
  }
}

@keyframes clickMeProgress {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes clickMeCursorProgress {
  from {
    left: calc(100% - 8px);
  }

  to {
    left: 48px;
  }
}

@media screen and (max-width: 600px) {
  .clickMe.active {
    font-size: 16px !important;
  }

  .page {
    padding: 24px 24px 60px;
  }

  .header {
    display: flex;
  }

  .tabRow {
    body:not(.mobileMenuOpen) & {
      display: none;
    }

    flex-direction: column;
    padding: 12px 0;
    border: none;

    a {
      justify-content: flex-start;

      &::after {
        border-radius: 0 4px 4px 0;

        left: -8px !important;
        right: unset;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);

        width: 4px;
        height: 0 !important;
      }

      &:hover::after, &.active::after {
        height: 100% !important;
      }
    }
  }

  .notice a {
    float: unset !important;
    padding: 0 !important;
    background-color: transparent !important;
  }

  .itemGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > div {
      order: 1;
    }

    .large, .large2 {
      height: 200px;
    }

    .large {
      order: -1;
    }

    .large2 {
      order: 0;
    }
  }

  .connectionGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      flex: initial;
      justify-content: flex-start !important;
    }
  }
}
